.aprobacion-blue-container{
    padding: 15px 25%;
    width: 100%;
    height: 310px;
    background: #A7D8FF;
}
.aprob-info{
    margin-left: 30px;
}
.aprob-text-blue{
    font-family: 'Roboto';
    font-size: 24pt;
    font-weight: 500;
    text-align: center;
    color: #4F4F4F;
    margin-block-end: 0;
    margin: 10px 0 0 0;
}
.aprob-blue-container{
    display: flex;
    flex-direction: row;
}
.aprob-info{
    font-family: 'Roboto';
    font-size: 16pt;
    font-weight: 300;
    margin-left: 40px;
}
.aprob-remember{
    width: 730px;
    height: 250px;  
    border: 2px solid #017DC3;
    margin: 35px 25% 45px;
    
}
.full-box-aprob{
    display: flex;
    flex-direction: column;
}
.aprob-txt-tnks{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 30px;
text-align: center;
letter-spacing: 0.75px;
color: #4F4F4F;
}
.container-logo-apr{
    width: 224px;
    height: 34px;
    margin: 20px 41.5% 40px; 
}
.aprob-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16pt;
    color: white;
    margin: 10px 38% 100px;
    width: 305px;
    height:50px;
    background: #017DC3;
    border: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.title-aprob{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24pt; 
    text-align: center;
    color: #4F4F4F;
    margin: 30px 0 38px;
}
.text-aprob{
    padding: 0px 370px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16pt; 
    text-align: center;
    color: #4F4F4F;
}
.account-box{
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 530px;
    height: 650px;
    background: #A7D8FF;
    padding: 20px 0;
    .ant-row{
        background: none;
    }
}
.container-input{
    margin: 0 16.5%;
    width: 350px;
    padding: 15px 0; 
    justify-content: center;
    align-content: center;
}
#iconCu{
    margin: 0 auto;
    width: 150px;
    justify-content: center;
    align-content: center;
}
.account-div-icon{
    margin: 20px 35%;
    width: 150px;
    justify-content: center;
    align-content: center
}
#aprob-comprar-btn{
    margin:auto;
}
.img-campaña{
    width: 100%;
    margin: 0 14.5%;
}
.ant-modal-content{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 520px;
    padding: 30px 50px;
    border: 4px solid #017DC3;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    -webkit-animation: slide-in-fwd-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    .icon-last{
        height: 140px;
        margin: 0 30%;
    }
    .listo{
        color: #017DC3;
        font-family: 'Roboto';
        font-size: '36pt';
        font-weight: '900';
        text-align: center;
    }
    .tnks{
        color: #013958;
        font-family: 'Roboto';
        font-size: '36pt';
        font-weight: '900';
        text-align: center;   
    }
    .text-listo{
        color: #4F4F4F;
        font-family: 'Roboto';
        font-size: '16pt';
        font-weight: '300';
        text-align: center;
    }
    .send-btn-listo{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16pt;
    color: white;
    width: 290px;
    height:50px;
    margin: 20px 0;
    background: #017DC3;
    border: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    }
    .listo-container-btn{
        margin: 0 5%;
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-10 5:28:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  