$azul: #017DC3;
$amarillo: #FDBB2F;
.details-flex-container{
    display: flex;
    flex-direction: row;
    margin: 0 35% 2% 0;
}
.icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.detail-img-container{
    margin: 10% 10% 10% 45%; 
}
.detail-container{
    margin-bottom: 12%;;
}
.banner-detail-img{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.detail-btn-comprar{
    margin-block-end: 30px;
    padding: 0 40%;
}
.detail-blue-container{
    margin: 0px 0 30px ;
    background: #A7D8FF ;
    .ant-row{
    background: #A7D8FF  ;
    }
    .yellow-btn{
    margin-block-end: 40px;
}
}
.detail-btn-regresar{
    width: 290px;
    height: 50px;
    border: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: $azul;
    z-index: 100;
}
.detail-btn-regresar-cont{
    margin: 50px 0 70px;
    padding: 0 40%;
}

